<%= form_for [:admin, @article] do |f| %>
  <%= render 'shared/form_errors', object: @article %>

  <div class="form-group">
    <label><h5><%= f.label :title %></h5></label>
    <%= f.text_field :title, required: true, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <label><h5><%= f.label :image %></h5></label><br>
    <%= f.file_field :image %>
  </div>
  
  <div class="form-group">
    <label><h5><%= f.label :body %></h5></label>
    <%= f.text_area :body, rows: 12, required: true, class: "form-control" %>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary' %>

<% end %>
